// Base file includes custom variables, mixins and imports from compass and external world

@import "partials/base";
// Typography includes all the general typographic rules
@import "partials/typography"; // Contains some variable declarations, so should be imported before everything else.
// General file includes the general css rules (tag specific) except the typography part
@import "partials/modules/icons";
@import "partials/general";
// Icon fonts
@import "partials/fonts";
// Navigation includes rules for main navigation
@import "partials/modules/navigation";
// Rules for the user entered wiki content
@import "partials/modules/content";
// Rules for the sidebar portlets
@import "partials/modules/sidebar";
// Rules for the footer
@import "partials/modules/footer";
// Rules that are specific to special pages
@import "partials/modules/specialPages";

// Custom

body {
	margin: 0px;
}
.pBody {
		ul {
	list-style-type: none;
	padding-left: 0px;
	}
}

.content-wrapper {
	max-width: 100%;
	margin: 0px;
}
.content-wrapper {
	#footer {
		#f-poweredbyico {
			visibility: hidden;
		}
		ul {
			list-style-type: none;
		}
		#f-list {
			list-style-type: none;
		}
	}
}

.id_logo {
    height: 90px;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 30px;
    z-index: 1300;
    cursor: pointer;

    .circle {
    width: 90px;
    height: 90px;

    	.img{
		width: 80px !important;
    	height: 80px !important;
		}
	}



}


.mw-body-primary{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  border-top:solid #e74c3c 8px;
}
